{#
/**
 * @file brochure_entity.html.twig
 * Default theme implementation to present Brochure data.
 *
 * This template is used when viewing Brochure pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_brochure_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('brochure_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
